- var message = "Do you really want to delete this topic? This action can not be reversed!"
- var cancel = { text: "Cancel" }
- var confirm = { text: "Delete", style: "btn-danger", icon: "fa fa-trash"}

include ./confirm-dialog.jade
